<div class="page-header">
  <%= link_to new_power_unit_gpl_information_path(@power_unit), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New gpl information
  <% end %>
  <h1>Listing gpl_informations</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Value</th>
            <th>Level</th>
            <th>Created at</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @gpl_informations) do |gpl_information| %>
        <td><%= gpl_information.raw_value %></td>
        <td><%= gpl_information.level %></td>
        <td><%= gpl_information.created_at.in_time_zone %></td>
        <td><%= link_to 'Show', power_unit_gpl_information_path(@power_unit, gpl_information) %></td>
        <td><%= link_to 'Edit', edit_power_unit_gpl_information_path(@power_unit, gpl_information) %></td>
        <td><%= link_to 'Destroy', power_unit_gpl_information_path(@power_unit, gpl_information), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
