<div class="page-header">
  <%= link_to power_units_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_power_unit_path(@power_unit), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show power_unit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Code:</dt>
  <dd><%= @power_unit.code %></dd>

  <dt>Diesel Mixed set:</dt>
  <dd><%= number_to_percentage @power_unit.diesel_mixed_set, precision: 0 %></dd>

  <dt>Red Alarm:</dt>
  <dd><%= @power_unit.red_alarms.last.state unless @power_unit.red_alarms.empty? %></dd>

  <dt>Yellow Alarm:</dt>
  <dd><%= @power_unit.yellow_alarms.last.state unless @power_unit.yellow_alarms.empty? %></dd>

  <dt>STATE:</dt>
  <dd><%= @power_unit.states.last.state unless @power_unit.states.empty? %></dd>
</dl>

<%-
diesel = @power_unit.diesel_informations.last.to_percentage
gpl    = @power_unit.gpl_informations.last.to_percentage
mixed  = @power_unit.mixed_informations.last.to_percentage
-%>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="thumbnail">
      <canvas id="diesel"    width="300" height="250" style="float: left; cursor: default;">[No canvas support]</canvas>
      <div class="caption col-md-12">
        <h3>Diesel <p class='small'></p></h3>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= diesel %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= diesel %>%;">
            <%= diesel %>%
          </div>
        </div>

        <p><%= link_to "Download CSV", power_unit_diesel_informations_path(@power_unit, format: :csv), class: 'btn btn-default' %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="thumbnail">
      <canvas id="gpl"    width="300" height="250" style="float: left; cursor: default;">[No canvas support]</canvas>
      <div class="caption col-md-12">
        <h3>Gpl</h3>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= gpl %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= gpl %>%;">
            <%= gpl %>%
          </div>
        </div>

        <p><%= link_to "Download CSV", power_unit_gpl_informations_path(@power_unit, format: :csv), class: 'btn btn-default' %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="thumbnail">
      <canvas id="mixed"    width="300" height="250" style="float: left; cursor: default;">[No canvas support]</canvas>
      <div class="caption col-md-12">
        <h3>Mixed</p></h3>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= mixed %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= mixed %>%;">
            <%= mixed %>%
          </div>
        </div>

        <p><%= link_to "Download CSV", power_unit_mixed_informations_path(@power_unit, format: :csv), class: 'btn btn-default' %></p>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function ()
  {
      // Create the Fuel chart. The arguments are: the minimum, the maximum, and the value.
      var diesel = new RGraph.Fuel('diesel', 0, 100, <%= diesel %>).grow();
      var gpl =    new RGraph.Fuel('gpl'   , 0, 100, <%= gpl %>   ).grow();
      var mixed =  new RGraph.Fuel('mixed' , 0, 100, <%= mixed %> ).grow();
  }
</script>
