<div class="page-header">
  <%= link_to power_units_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_power_unit_path(@power_unit), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show power_unit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Code:</dt>
  <dd><%= @power_unit.code %></dd>

  <dt>Diesel Mixed set:</dt>
  <dd><%= number_to_percentage @power_unit.diesel_mixed_set, precision: 0 %></dd>


  <dt>Diesel Level:</dt>
  <dd><%= @power_unit.diesel_informations.last.level unless @power_unit.diesel_informations.empty? %></dd>

  <dt>Gpl Level:</dt>
  <dd><%= @power_unit.gpl_informations.last.level unless @power_unit.gpl_informations.empty? %></dd>

  <dt>Mixed Level:</dt>
  <dd><%= @power_unit.mixed_informations.last.level unless @power_unit.mixed_informations.empty? %></dd>

  <dt>Red Alarm:</dt>
  <dd><%= @power_unit.red.last.state unless @power_unit.red_alarms.empty? %></dd>

  <dt>Gpl Alarm:</dt>
  <dd><%= @power_unit.yellow_alarms.last.state unless @power_unit.yellow_alarms.empty? %></dd>

  <dt>STATE:</dt>
  <dd><%= @power_unit.states.last.state unless @power_unit.states.empty? %></dd>
</dl>
